<!-- blog_home_page.html begins -->
{% set page_slug = page.slug %}
{% extends "base.html" %}

{% block title %}
  {% if page.breadcrumb %}
  {% set breadcrumbs = page.breadcrumb.strip().split('\n') %}
  {% for i in breadcrumbs %}{% set url, _, title = i.strip().partition(' ') %}{{ title|e }} &raquo; {% endfor %}
  {% endif %}
  {% if page.title == SITENAME|e %}
{{ page.title -}}
  {% else %}
{{ page.title }} | {{ SITENAME|e -}}
  {% endif %}
{% endblock %}

{% block head_links %}
  {% if page.css %}
    {% set styles = page.css.strip().split('\n') %}
    {% for style in styles %}
  <link rel="stylesheet" href="{{ style|expand_link(page)|e }}" />
    {% endfor %}
  {% endif %}
  {% if M_FAVICON %}
  <link rel="icon" href="{{ M_FAVICON[0]|format_siteurl|e }}" type="{{ M_FAVICON[1]|e }}" />
  {% endif %}
  <link rel="canonical" href="{{ page.url|format_siteurl|e }}" />
{% endblock %}

{% block meta %}
  {% if page.description %}
  <meta name="description" content="{{ page.description|dehyphenate|striptags|e }}" />
  {% endif %}
  {% if SEO_METAS %}
    {% for meta_type, meta_value in SEO_MATAS %}
  <meta name="{{ meta_type|dehyphenate|striptags|e }}" content="{{ meta_value|dehyphenate|striptags|e }}" />
    {% endfor %}
  {% endif %}
{% endblock %}

{% block social %}
  <meta property="og:site_name" content="{{ SITENAME|e }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.url|format_siteurl|e }}" />
  {% if page.summary %}
  <meta property="og:description" content="{{ page.summary|dehyphenate|striptags|e }}" />
  <meta name="twitter:description" content="{{ page.summary|dehyphenate|striptags|e }}" />
  {% endif %}
  {% if page.cover %}
  <meta property="og:image" content="{{ page.cover|expand_link(page)|e }}" />
  <meta name="twitter:image" content="{{ page.cover|expand_link(page)|e }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% elif M_SOCIAL_IMAGE %}
  <meta property="og:image" content="{{ M_SOCIAL_IMAGE|format_siteurl }}" />
  <meta name="twitter:image" content="{{ M_SOCIAL_IMAGE|format_siteurl }}" />
  {% endif %}
  {% if not page.cover %}
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta property="og:type" content="page" />
{% endblock %}

{% block extra %}
  {% if page.js %}
    {% set scripts = page.js.strip().split('\n') %}
    {% for script in scripts %}
  <script src="{{ script|expand_link(page)|e }}"></script>
    {% endfor %}
  {% endif %}
  {% if page.html_header %}
{{ page.html_header|rtrim|indent(2) }}
  {% endif %}
{% endblock %}

{% block main %}
  {% if not page.landing %}
    {% if page.cover %}
  <div id="m-cover-image" style="background-image: url('{{ page.cover|expand_link(page)|e }}');">
    <div></div>
  </div>
    {% endif %}
    {% if page.header %}
  <div class="m-container m-container-inflatable">
    <div class="m-row">
      <div class="m-col-l-10 m-push-l-1 m-nopadb">
        <!-- header -->
{{ page.header|trim|expand_links(page) }}
        <!-- /header -->
      </div>
    </div>
  </div>
    {% endif %}
  {% endif %}

  <article>
    <div class="m-container m-container-inflatable">
      <div class="m-row">
        <div class="m-col-l-10 m-push-l-1">
  {% if not page.landing %}
<!--      <h1>{{ page.title }}</h1> -->
  {% endif %}
          <!-- content -->
          <m-blog-motto class="preloader">
            <m-blog-motto class="preloader__ring">
              <m-blog-motto class="preloader__sector">W</m-blog-motto>
              <m-blog-motto class="preloader__sector">r</m-blog-motto>
              <m-blog-motto class="preloader__sector">i</m-blog-motto>
              <m-blog-motto class="preloader__sector">t</m-blog-motto>
              <m-blog-motto class="preloader__sector">e</m-blog-motto>
              <m-blog-motto class="preloader__sector"> </m-blog-motto>
              <m-blog-motto class="preloader__sector">d</m-blog-motto>
              <m-blog-motto class="preloader__sector">o</m-blog-motto>
              <m-blog-motto class="preloader__sector">w</m-blog-motto>
              <m-blog-motto class="preloader__sector">n</m-blog-motto>
              <m-blog-motto class="preloader__sector"> </m-blog-motto>
              <m-blog-motto class="preloader__sector">t</m-blog-motto>
              <m-blog-motto class="preloader__sector">h</m-blog-motto>
              <m-blog-motto class="preloader__sector">e</m-blog-motto>
              <m-blog-motto class="preloader__sector"> </m-blog-motto>
              <m-blog-motto class="preloader__sector">p</m-blog-motto>
              <m-blog-motto class="preloader__sector">r</m-blog-motto>
              <m-blog-motto class="preloader__sector">o</m-blog-motto>
              <m-blog-motto class="preloader__sector">b</m-blog-motto>
              <m-blog-motto class="preloader__sector">l</m-blog-motto>
              <m-blog-motto class="preloader__sector">e</m-blog-motto>
              <m-blog-motto class="preloader__sector">m</m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
            </m-blog-motto>
            <m-blog-motto class="preloader__ring">
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector">T</m-blog-motto>
              <m-blog-motto class="preloader__sector">h</m-blog-motto>
              <m-blog-motto class="preloader__sector">i</m-blog-motto>
              <m-blog-motto class="preloader__sector">n</m-blog-motto>
              <m-blog-motto class="preloader__sector">k</m-blog-motto>
              <m-blog-motto class="preloader__sector"> </m-blog-motto>
              <m-blog-motto class="preloader__sector">v</m-blog-motto>
              <m-blog-motto class="preloader__sector">e</m-blog-motto>
              <m-blog-motto class="preloader__sector">r</m-blog-motto>
              <m-blog-motto class="preloader__sector">y</m-blog-motto>
              <m-blog-motto class="preloader__sector"> </m-blog-motto>
              <m-blog-motto class="preloader__sector">h</m-blog-motto>
              <m-blog-motto class="preloader__sector">a</m-blog-motto>
              <m-blog-motto class="preloader__sector">r</m-blog-motto>
              <m-blog-motto class="preloader__sector">d</m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
            </m-blog-motto>
            <m-blog-motto class="preloader__ring">
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector">W</m-blog-motto>
              <m-blog-motto class="preloader__sector">r</m-blog-motto>
              <m-blog-motto class="preloader__sector">i</m-blog-motto>
              <m-blog-motto class="preloader__sector">t</m-blog-motto>
              <m-blog-motto class="preloader__sector">e</m-blog-motto>
              <m-blog-motto class="preloader__sector"> </m-blog-motto>
              <m-blog-motto class="preloader__sector">d</m-blog-motto>
              <m-blog-motto class="preloader__sector">o</m-blog-motto>
              <m-blog-motto class="preloader__sector">w</m-blog-motto>
              <m-blog-motto class="preloader__sector">n</m-blog-motto>
              <m-blog-motto class="preloader__sector"> </m-blog-motto>
              <m-blog-motto class="preloader__sector">t</m-blog-motto>
              <m-blog-motto class="preloader__sector">h</m-blog-motto>
              <m-blog-motto class="preloader__sector">e</m-blog-motto>
              <m-blog-motto class="preloader__sector"> </m-blog-motto>
              <m-blog-motto class="preloader__sector">s</m-blog-motto>
              <m-blog-motto class="preloader__sector">o</m-blog-motto>
              <m-blog-motto class="preloader__sector">l</m-blog-motto>
              <m-blog-motto class="preloader__sector">u</m-blog-motto>
              <m-blog-motto class="preloader__sector">t</m-blog-motto>
              <m-blog-motto class="preloader__sector">i</m-blog-motto>
              <m-blog-motto class="preloader__sector">o</m-blog-motto>
              <m-blog-motto class="preloader__sector">n</m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
              <m-blog-motto class="preloader__sector"></m-blog-motto>
            </m-blog-motto>
          </m-blog-motto>
          <!-- /content -->
        </div>
      </div>
  {% if page.save_as == 'index.html' and not page.url %}
      <!-- Blog Index Home -->
      <div class="m-row">
        <div class="m-col-l-8 m-push-l-2">
          <div>
            <div class="m-note m-default m-landing-news">
              <h3><a href="{{ M_BLOG_URL|format_siteurl|e }}">{{ M_NEWS_ON_INDEX[0]|e }} &raquo;</a></h3>
              <ul class="m-unstyled">
    {% for article in articles[0:M_NEWS_ON_INDEX[1]] %}
                <li><time class="m-text m-dim" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time><a href="{{ article.url }}">{{ article.title|e }}</a></li>
    {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end of Blog Index Home -->
  {% endif %}
    </div>
  </article>

  {% if page.footer %}
  <div class="m-container m-container-inflatable">
    <div class="m-row">
      <div class="m-col-l-10 m-push-l-1 m-nopadt">
        <!-- footer -->
{{ page.footer|trim|expand_links(page) }}
        <!-- /footer -->
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
<!-- blog_home_page.html ends -->
